@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(219, 162, 216);
    font-family: "Roboto", sans-serif;
}

.App {
    background-color: rgb(196, 163, 190);
    max-width: 30rem;
    margin: 2rem auto;
    padding: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid gray;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color: rgb(19, 179, 242);
    border: none;
    font-size: 1.5rem;
    color: rgb(1, 7, 11);
    border-radius: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}